body{
    background-color: gray;
    color: white;
}
button{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: black;
    color: white;
    border-radius: 10px;
}
button:hover{
    background-color: burlywood;
    color: black;
    cursor: pointer;
}